*, *::before, *::after {
  box-sizing: border-box; }

#root {
  padding: 2rem 0; }

.animated-app {
  border: 1px solid gainsboro;
  box-shadow: 2px 2px 2px gainsboro;
  margin: 0 auto;
  height: 800px;
  overflow: auto;
  padding: 1rem;
  width: 14rem; }

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto auto 0 auto; }

.animated-button {
  background-color: #ea4bfc;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 3.5rem;
  position: relative;
  width: 11.2rem; }
  .animated-button .overlay {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: 200ms opacity ease-out;
    width: 100%; }
    .animated-button .overlay:hover {
      background-color: #0f0f0f;
      opacity: .5; }
  .animated-button .progress-bar {
    display: block;
    background: #0f0f0f;
    border-radius: 5px;
    height: 100%;
    opacity: .5; }
  .animated-button:focus {
    outline: none; }
  .animated-button.loading {
    cursor: default;
    padding: 0; }
  .animated-button-enter {
    height: 3.5rem;
    transition: 200ms ease-in-out height; }
  .animated-button-enter-active {
    height: 2rem; }
  .animated-button-enter-done {
    height: 2rem; }

.card-list {
  position: relative; }
  .card-list-appear > * {
    opacity: 0;
    transform: translateY(80px);
    transition: 100ms all ease-out;
    width: 12rem; }
  .card-list-appear-active > * {
    transform: translateY(0);
    opacity: 1; }

.card {
  border-radius: 5px;
  box-shadow: 0 0 5px gainsboro;
  margin: 0 auto 1rem auto; }

.card.simple {
  background-color: #4ca5fc;
  border-radius: 10px;
  padding: 1rem;
  height: 7rem; }
  .card.simple .title {
    background-color: #fafafa;
    border-radius: 10px;
    margin: 1rem 0;
    height: 1.5rem;
    width: 66%; }
  .card.simple .sub-title {
    background-color: gainsboro;
    border-radius: 10px;
    height: 1rem;
    margin: 1rem 0;
    width: 33%; }

.card.complex.expanded .top {
  height: 8rem; }

.card.complex.expanded .bottom {
  display: block; }

.card.complex .top {
  background-color: #4ca5fc;
  height: 4rem;
  border-radius: 5px 5px 0 0; }

.card.complex .middle {
  padding: 1rem; }

.card.complex .bottom {
  display: none;
  padding: 1rem; }
  .card.complex .bottom p {
    background-color: #4ca5fc;
    border-radius: 5px;
    height: 1rem; }

.card.complex .title {
  background-color: #4ca5fc;
  border-radius: 5px;
  height: 1.5rem;
  width: 66%; }

.card.complex .sub-title {
  background-color: #93ccfc;
  border-radius: 5px;
  height: 1.5rem;
  margin-top: 1rem;
  width: 33%; }

.tabbed-container .tabs {
  display: flex;
  padding: 1rem 0; }

.tabbed-container .tab {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  position: relative;
  width: 50%; }
  .tabbed-container .tab.selected .tab-button {
    background-color: #4ca5fc; }
  .tabbed-container .tab.selected::after {
    border-bottom: 2px solid #4ca5fc;
    bottom: 0;
    content: "";
    position: absolute;
    width: 100%; }

.tabbed-container .tab-button {
  background-color: gainsboro;
  border-radius: 5px;
  height: 1.5rem;
  transition: 200ms background-color ease-out;
  width: 80%; }
  .tabbed-container .tab-button:hover {
    background-color: #93ccfc;
    cursor: pointer; }

.tabbed-container .tab-left-enter::after {
  transition: 200ms transform ease-in-out;
  transform: translateX(7rem); }

.tabbed-container .tab-left-enter-active::after {
  transform: translateX(0); }

.tabbed-container .tab-right-enter::after {
  transition: 200ms transform ease-in-out;
  transform: translateX(-7rem); }

.tabbed-container .tab-right-enter-active::after {
  transform: translateX(0); }

.tabbed-container .tabbed-lists {
  position: relative; }

.tabbed-container .left-list,
.tabbed-container .right-list {
  position: absolute;
  top: 0;
  width: 100%; }

.tabbed-container .left-list {
  transform: translateX(-15rem); }
  .tabbed-container .left-list-enter, .tabbed-container .left-list-exit {
    transition: 200ms transform ease-in-out; }
  .tabbed-container .left-list-enter-active {
    transform: translateX(0); }
  .tabbed-container .left-list-enter-done, .tabbed-container .left-list.selected {
    transform: translateX(0); }

.tabbed-container .right-list {
  transform: translateX(15rem); }
  .tabbed-container .right-list-enter, .tabbed-container .right-list-exit {
    transition: 200ms transform ease-in-out; }
  .tabbed-container .right-list-enter-active {
    transform: translateX(0); }
  .tabbed-container .right-list-enter-done, .tabbed-container .right-list.selected {
    transform: translateX(0); }
