$black: rgb(15, 15, 15);
$blue: rgb(76, 165, 252);
$grey: rgb(220, 220, 220);
$light-blue: rgb(135, 195, 252);
$lighter-blue: rgb(147, 204, 252);
$pink: rgb(234,75,252);
$white: rgb(250, 250, 250);

$example-width: 14rem;
$example-height: 800px;
$transition-normal: 200ms;
$transition-fast: 100ms;

*, *::before, *::after {
}

#root {
  padding: 2rem 0;
}

.animated-app {
  border: 1px solid $grey;
  box-shadow: 2px 2px 2px $grey;
  margin: 0 auto;
  height: $example-height;
  overflow: auto;
  padding: 1rem;
  width: $example-width;
}

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto auto 0 auto;
}

.animated-button {
  background-color: $pink;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 3.5rem;
  position: relative;
  width: .8 * $example-width;

  .overlay {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: $transition-normal opacity ease-out;
    width: 100%;

    &:hover {
      background-color: $black;
      opacity: .5;
    }
  }

  .progress-bar {
    display: block;
    background: $black;
    border-radius: 5px;
    height: 100%;
    opacity: .5;
  }

  &:focus {
    outline: none;
  }

  &.loading {
    cursor: default;
    padding: 0;
  }

  &-enter {
    height: 3.5rem;
    transition: 200ms ease-in-out height;
  }

  &-enter-active {
    height: 2rem;
  }

  &-enter-done {
    height: 2rem;
  }
}

.card-list {
  position: relative;

  &-appear > * {
    opacity: 0;
    position: relative;
    bottom: -100px;
    transition: $transition-fast all ease-out;
    width: $example-width - 2rem;
  }

  &-appear-active > * {
    bottom: 0;
    opacity: 1;
  }

  &-enter-done > * {
    transition-delay: 0ms !important;
  }
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 5px $grey;
  margin: 0 auto 1rem auto;
}

.card.simple {
  background-color: $blue;
  border-radius: 10px;
  padding: 1rem;
  height: 7rem;

  .title {
    background-color: $white;
    border-radius: 10px;
    margin: 1rem 0;
    height: 1.5rem;
    width: 66%;
  }

  .sub-title {
    background-color: $grey;
    border-radius: 10px;
    height: 1rem;
    margin: 1rem 0;
    width: 33%;
  }
}
